doctype html
html
  head
    title File Upload
  body
    form(action="/upload" method="post" enctype="multipart/form-data")
      h3 Upload list
      input(type="file" name="file")
      button(type="submit") Upload